.skeleton {
    background: linear-gradient(90deg, var(--skeleton-color) 25%, #e0e0e0 50%, var(--skeleton-color) 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;

}

.skeleton.skeleton-1 {
    margin-bottom: 10px;
}

.profile-skeleton {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 15px;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}