.employees-list {
    .year-group {
        margin-bottom: 20px;
    }

    .year-divider {
        position: relative;
        margin: 16px 0;
        border-top: 1px solid var(--line-color);

        .year-label {
            position: absolute;
            top: -8px;
            transform: translateX(-50%);
            left: 50%;
            background: var(--app-color);
            padding: 0 8px;
            color: #888;
            font-size: 14px;
        }
    }
}