.filters {
    display: flex;
    gap: 15px;
    border-bottom: 1px solid rgb(231, 231, 231);
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 30px;

    &__item {
        padding: 5px;
        color: var(--text-second-color);
        font-size: 15px;
        font-weight: 500;
        transition: color .1s linear;
        cursor: pointer;

        &:hover {
            color: var(--text-main-color);
        }
    }

    &__item-active {
        color: var(--text-main-color);
        position: relative;

        &::before {
            position: absolute;
            bottom: -16px;
            left: 0;
            content: '';
            width: 100%;
            height: 2px;
            background-color: var(--filter-underline-color);
        }
    }
}

@media(max-width:465px) {
    .filters {
        gap: 0px;

    }

    .filters__item {

        font-size: 14px;
    }

}

@media(max-width:360px) {


    .filters__item {

        font-size: 13px;
        padding: 3px;
    }

}